<div class="formulario">
    <div class="mb-3">
        <label class="form-label">Titulo</label>
        <input type="text" class="form-control" [(ngModel)]="nuevoLibro.titulo">
    </div>
    <div class="mb-3">
        <label class="form-label">Texto</label>
        <input type="text" class="form-control" [(ngModel)]="nuevoLibro.texto">
    </div>
    <div class="mb-3">
        <label class="form-label">Autor</label>
        <input type="text" class="form-control" [(ngModel)]="nuevoLibro.autor">
    </div>
    <div class="mb-3">
        <label class="form-label">Imagen</label>
        <input type="text" class="form-control" [(ngModel)]="nuevoLibro.imagen">
    </div>
    <div class="mb-3">
        <label class="form-label">Fecha</label>
        <input type="text" class="form-control" [(ngModel)]="nuevoLibro.fecha">
    </div>
    <div class="mb-3">
        <label class="form-label">Categoria</label>
        <input type="text" name="categoria" formControlName="categoria">
    </div>
    <button class="btn btn-info" (click)="onClick()">Enviar</button>
</div>