<select (change)="onChange($event)">
    <option value="todos">Todos</option>
    <option value="cocina">Cocina</option>
    <option value="random">Random</option>
    <option value="ficcion">Ficcion</option>
    <option value="novela">Novela</option>
</select>

<div class="libros">
    <div class="libro" *ngFor="let libro of listadoLibros">
        <h2>{{libro.titulo}}</h2>
        <p>{{libro.texto}}</p>
        <p>{{libro.autor}}</p>
        <img [src]="libro.imagen" alt="">
        <p>{{libro.texto}}</p>
        <p>{{libro.fecha | date:'YYYY'}}</p>
        <p>{{libro.categoria}}</p>
    </div>
</div>