<select (change)="onChange($event)">
    <option value="todos">Todos</option>
    <option value="cocina">Cocina</option>
    <option value="random">Random</option>
    <option value="ficcion">Ficcion</option>
    <option value="novela">Novela</option>
</select>

<div class="libros">
    <div class="libro" *ngFor="let libro of listadoLibros">
        <h1>{{libro.titulo}}</h1>
        <p>{{libro.texto}}</p>
        <h3>Autor: </h3>
        <p>{{libro.autor}}</p>
        <h3>Año de publicacion: </h3>
        <p>{{libro.fecha | date:'YYYY'}}</p>
        <h3>Categoria: </h3>
        <p>{{libro.categoria}}</p>
        <img [src]="libro.imagen" alt="">
    </div>
</div>