*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.libros{
display: flex;
flex-wrap: wrap;
margin-top: 20px;
}

.libro{
    width: 30%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    background-color: lightgray;
}

img{
    width: 50%;
  margin-left: 25%;
}

h1{
    font-weight: bold;
    font-size: 27px;
}

h3{
   font-size: 20px;
}